.container {
    width: 100vw;
    height: 100vh;
    background: #6dffdf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    }

.titulo {
    background: #6dffdf;
    font-size: 70px;
    }